:root {
    --VeryDarkBlue: hsl(243, 87%, 12%);
    --DesaturatedBlue: hsl(238, 22%, 44%);
    --BrightBlue: hsl(224, 93%, 58%);
    --ModerateCyan: hsl(170, 45%, 43%);
    --LightGrayishBlue: hsl(240, 75%, 98%);
    --LightGray: hsl(0, 0%, 75%);
}

.main-container {
    max-width: 1400px;
    min-width: 375px;
    padding: 7rem;
}

body {
    color: var(--VeryDarkBlue);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

h1,
h2,
.nav {
    font-family: 'Raleway', sans-serif;
}

h1,
h2 {
    font-weight: 700;
    font-size: 3.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16rem;
}

nav ul {
    display: flex;
}

.nav {
    display: flex;
    width: 10rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
}

.nav:hover {
    background-color: var(--LightGrayishBlue);
}

section {
    display: flex;
    align-items: center;
    margin-bottom: 20rem;
} 

section p {
    margin: 2rem 0;
}

.content-container {
    width: 50%;
    align-items: center;
}

.illustration {
    width: 50%;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
